.colunistas {
	max-width: 1384px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination {
	margin-top: 32px;
	justify-content: center;
	display: flex;
	max-width: 1384px;
}

.colunistas__wrapper {
	margin-left: 16px;
	margin-right: 16px;
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	overflow-x: hidden;
}

.colunistas__botoes {

}

.esquerda {

}

.direita {
	transform: scaleX(-1);
}

.lista__colunistas {
	display: flex;
	column-gap: 40px;
}

.lista__colunistas-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 290px;

}

.foto {
	width: 80px;
}
.foto img {
	width: inherit;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 40px;
}

.dados {
	padding-top:8px;
	width: 190px;
	margin-left: 16px;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 8px;
}
.nome {
	text-transform: uppercase;
	color: var(--#{$txt_prefix}-dark-tertiary);
	font-size: var(--#{$txt_prefix}-font-size-sm);
	font-weight:var(--#{$txt_prefix}-bold);
	line-height: 18px;
}

.materia {
	margin-top: 4px;
	color: var(--#{$txt_prefix}-dark-primary);
	font-size: var(--#{$txt_prefix}-font-size-md);
	font-weight:var(--#{$txt_prefix}-bold);
	line-height: 22px;

}


.pagination-container {
	display: flex;
	padding: 8px;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-radius: 12px;
	background: var(  --#{$txt_prefix}-light-secondary);
	width:0px;
  }

  .point {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: var(--#{$txt_prefix}-light-primary);
  }

  .is-active {
	background: var(--#{$txt_prefix}-dark-tertiary);
  }




