.clima-fechado{
	background:  url(images/previsaodotempo/pdt__nuvem.svg)center no-repeat;
}

.clima-nublado{
	background: url(images/previsaodotempo/pdt__nublado.svg)center no-repeat;
}

.clima-noitenublada{
	background: url(images/previsaodotempo/pdt__noitenublada.svg)center no-repeat;
}

.clima-trovoada{
	background: url(images/previsaodotempo/pdt__trovoada.svg)center no-repeat;
}

.clima-chuva{
	background: url(images/previsaodotempo/pdt__chuva.svg)center no-repeat;
}

.clima-lua{
	background: url(images/previsaodotempo/pdt__lua.svg)center no-repeat;
}

.clima-neve{
	background: url(images/previsaodotempo/pdt__neve.svg)center no-repeat;
}

.clima-sol{
	background: url(images/previsaodotempo/pdt__sol.svg)center no-repeat;
}





//auxiliar
.minmax{
	background: url(images/previsaodotempo/pdt__min-max.svg) center no-repeat;
}
.localization{
	background: url(images/previsaodotempo/pdt__localizacao.svg) center no-repeat;
}

//amarelos
.nascerdosol{
	background: url(images/previsaodotempo/pdt__nascerdosol.svg) center no-repeat;
}
.pordosol{
	background: url(images/previsaodotempo/pdt__pordosol.svg) center no-repeat;
}
.sensacao{
	background: url(images/previsaodotempo/pdt__sensacao.svg) center no-repeat;
}

//azuis
.vento{
	background: url(images/previsaodotempo/pdt__vento.svg) center no-repeat;
}
.prob{
	background: url(images/previsaodotempo/pdt__prob.svg) center no-repeat;
}
.umidade{
	background: url(images/previsaodotempo/pdt__umidade.svg) center no-repeat;
}