$svg-arrow: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
    <path d="M4.16675 9.99996H15.8334M15.8334 9.99996L10.0001 4.16663M15.8334 9.99996L10.0001 15.8333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-close: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
    <path d="M18 6L6 18M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-dropdown: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">\
    <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-flag: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">\
    <path d="M9.39422 4.48144H13.3634C13.6781 4.48144 13.8355 4.48144 13.9276 4.54762C14.0079 4.60536 14.0602 4.69423 14.0716 4.79247C14.0848 4.90507 14.0084 5.04265 13.8555 5.3178L12.9082 7.02286C12.8528 7.12264 12.8251 7.17254 12.8142 7.22537C12.8046 7.27214 12.8046 7.32037 12.8142 7.36714C12.8251 7.41997 12.8528 7.46987 12.9082 7.56965L13.8555 9.27471C14.0084 9.54986 14.0848 9.68744 14.0716 9.80004C14.0602 9.89828 14.0079 9.98715 13.9276 10.0449C13.8355 10.1111 13.6781 10.1111 13.3634 10.1111H8.40903C8.01492 10.1111 7.81786 10.1111 7.66733 10.0344C7.53492 9.9669 7.42727 9.85925 7.3598 9.72684C7.2831 9.57631 7.2831 9.37925 7.2831 8.98514V7.29626M4.82014 14.3333L2.00533 3.07403M3.06091 7.29626H8.26829C8.6624 7.29626 8.85946 7.29626 9.00999 7.21956C9.1424 7.15209 9.25005 7.04444 9.31752 6.91203C9.39422 6.7615 9.39422 6.56444 9.39422 6.17033V2.79255C9.39422 2.39844 9.39422 2.20139 9.31752 2.05085C9.25005 1.91844 9.1424 1.81079 9.00999 1.74333C8.85946 1.66663 8.6624 1.66663 8.26829 1.66663H3.09552C2.60397 1.66663 2.3582 1.66663 2.19009 1.76848C2.04276 1.85774 1.93329 1.99795 1.88242 2.16254C1.82438 2.35033 1.88399 2.58876 2.00322 3.06564L3.06091 7.29626Z" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-sound: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">\
    <path d="M19.7479 4.99993C21.1652 6.97016 22 9.38756 22 11.9999C22 14.6123 21.1652 17.0297 19.7479 18.9999M15.7453 7.99993C16.5362 9.13376 17 10.5127 17 11.9999C17 13.4872 16.5362 14.8661 15.7453 15.9999M9.63432 5.36561L6.46863 8.5313C6.29568 8.70425 6.2092 8.79073 6.10828 8.85257C6.01881 8.9074 5.92127 8.9478 5.81923 8.9723C5.70414 8.99993 5.58185 8.99993 5.33726 8.99993H3.6C3.03995 8.99993 2.75992 8.99993 2.54601 9.10892C2.35785 9.20479 2.20487 9.35777 2.10899 9.54594C2 9.75985 2 10.0399 2 10.5999V13.3999C2 13.96 2 14.24 2.10899 14.4539C2.20487 14.6421 2.35785 14.7951 2.54601 14.8909C2.75992 14.9999 3.03995 14.9999 3.6 14.9999H5.33726C5.58185 14.9999 5.70414 14.9999 5.81923 15.0276C5.92127 15.0521 6.01881 15.0925 6.10828 15.1473C6.2092 15.2091 6.29568 15.2956 6.46863 15.4686L9.63431 18.6342C10.0627 19.0626 10.2769 19.2768 10.4608 19.2913C10.6203 19.3038 10.7763 19.2392 10.8802 19.1175C11 18.9773 11 18.6744 11 18.0686V5.9313C11 5.32548 11 5.02257 10.8802 4.88231C10.7763 4.76061 10.6203 4.69602 10.4608 4.70858C10.2769 4.72305 10.0627 4.93724 9.63432 5.36561Z    " stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-search: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">\
    <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-bullet: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 6" fill="none">\
    <circle cx="3.5" cy="3" r="3" fill="#000000"/>\
  </svg>'
);

$svg-checkbox: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">\
    <path d="M16.6668 5L7.50016 14.1667L3.3335 10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);

$svg-fixed: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">\
    <path id="Icon" d="M3.96987 8.03013L1 11M5.71166 3.31848L4.89219 4.13795C4.82535 4.20479 4.79192 4.23822 4.75384 4.26478C4.72004 4.28835 4.68359 4.30786 4.64523 4.32291C4.602 4.33986 4.55566 4.34913 4.46296 4.36767L2.5391 4.75244C2.03914 4.85243 1.78916 4.90243 1.67221 5.03423C1.57032 5.14906 1.5238 5.30272 1.54488 5.45478C1.56908 5.62932 1.74934 5.80958 2.10987 6.17011L5.8299 9.89015C6.19043 10.2507 6.37069 10.4309 6.54523 10.4551C6.69729 10.4762 6.85095 10.4297 6.96578 10.3278C7.09758 10.2109 7.14758 9.96088 7.24757 9.46092L7.63234 7.53706C7.65088 7.44436 7.66015 7.39801 7.6771 7.35479C7.69215 7.31643 7.71166 7.27997 7.73523 7.24617C7.76179 7.20809 7.79521 7.17467 7.86206 7.10782L8.68153 6.28835C8.72427 6.24561 8.74564 6.22424 8.76913 6.20559C8.78999 6.18901 8.81209 6.17405 8.83523 6.16083C8.86128 6.14595 8.88905 6.13405 8.94461 6.11024L10.2542 5.549C10.6362 5.38527 10.8272 5.3034 10.914 5.17111C10.9899 5.05542 11.017 4.91446 10.9895 4.77886C10.9581 4.6238 10.8111 4.47685 10.5172 4.18294L7.81707 1.48277C7.52316 1.18886 7.3762 1.0419 7.22115 1.01047C7.08555 0.98298 6.94459 1.01013 6.8289 1.08601C6.69661 1.17278 6.61474 1.3638 6.45101 1.74585L5.88978 3.0554C5.86597 3.11095 5.85406 3.13873 5.83918 3.16477C5.82596 3.18791 5.811 3.21001 5.79443 3.23088C5.77577 3.25437 5.7544 3.27574 5.71166 3.31848Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>\
  </svg>'
);
